$main-width: 1349px;
$main-height: 900px;
$space-x:5px;
$space-2x:$space-x*2;
$space-3x:$space-x*3;
$space-4x:$space-x*4;
$space-5x:$space-x*5;
$space-6x:$space-x*6;
$space-7x:$space-x*7;
$space-8x:$space-x*8;
$space-9x:$space-x*9;
$space-10x:$space-x*10;
$space-11x:$space-x*11;
$space-12x:$space-x*12;
$space-13x:$space-x*13;
$space-14x:$space-x*14;
$main-color:orange;
$secondary-color:#919191;
$main2-color:#5656a6;
$main3-color:#24cf5f;
$main4-color:#e12573;
$main5-color:#1997d3;
$main6-color:#19d3ca;
$main7-color:#2e4b9b;
$main8-color:#ff4343;